<h1>About Us</h1>
<p>Thomas and Chelsea first met at the University of Dayton in Ohio.  Thomas was studying computer science while Chelsea was studying business.  So the story goes, in 2009 Chelsea stayed the summer at Dayton for an internship while Thomas was taking classes.  Chelsea’s mail accidently was delivered to Thomas’s house next-door, so he kindly delivered the mail to her.  Although they only spoke briefly, Chelsea referred to Thomas as the “cute neighbor boy”.</p>

<p>A couple weeks later Chelsea and Thomas were at a Dayton party where they officially met.  Thomas was wearing the most ridiculous Dog T-shirt, which Chelsea loved (of course).  Chelsea approached Thomas and eventually he worked up the courage to get her number, and they talked every day after that.</p>

<p>After college, over the next five years they dated long distance moving often.  They lived in St. Louis, Vail, Davenport, Denver, Houston, and Grand Rapids, finally making their way to Atlanta in March of 2014.  Shortly after he asked and she said yes!</p>
