<h1>Activities</h1>

<p>If you are visiting Atlanta for the first time and would like to get the most out of the city, please view <a href="http://www.atlanta.net/50fun/#50fun" target="_blank">this list of local activities</a>.</p>
