<h2>Travel</h2>
<ul>
  <li><%= link_to "Marta", "http://www.itsmarta.com" %></li>
  <li><%= link_to "Uber", "https://www.uber.com/invite/uz03p" %></li>
</ul>

<h2>Hotels</h2>
<ul>
  <li>
    <h3>The Ellis Hotel</h3>
    Price: $115 per night<br>
    Request the Bush / Windnagle group rate<br>
    Phone: <a href="tel:18772112545">877-211-2545</a><br>
    <a href="https://bookings.ihotelier.com/The-Ellis-Hotel/bookings.jsp?groupID=1337396&hotelID=14796">Visit Website</a><br>
    <a href="https://bookings.ihotelier.com/The-Ellis-Hotel/bookings.jsp?groupID=1337396&hotelID=14796">Directions</a>
  </li>
  <li>
    <h3>The Ritz-Carlton, Atlanta (Downtown)</h3>
    Price: $149 per night<br>
    Request Chelsea Windnagle & Tom Bush Wedding<br>
    Phone: <a href="tel:18002413333">800-241-3333</a><br>
    <a href="http://www.ritzcarlton.com/en/Properties/Atlanta/Default.htm">Visit Website</a><br>
      CTBCTBA (king) or CTBCTBB ( 2 queen beds based on availability)<br>
    Cutoff date is Wednesday, May 6, 2015<br>
    <a href="https://www.google.com/maps/place/The+Ritz-Carlton,+Atlanta/@33.758554,-84.387102,17z/data=!4m6!1m3!3m2!1s0x88f504ed289e9e9b:0x3c272a773ef7e649!2sThe+Ritz-Carlton,+Atlanta!3m1!1s0x88f504ed289e9e9b:0x3c272a773ef7e649">Directions</a>
  </li>
  <li>Third hotel</li>
</ul>
<h2>Ceremony and Reception</h2>
<p>The ceremony, coctail hour, and reception will all be held at the <a href="http://www.clubcorp.com/Clubs/Commerce-Club-Atlanta">Commerce Club</a> in downtown Atlanta, GA.</p>
<h4>Location details</h4>
<strong>Commerce Club</strong><br>
191 Peachtree St. NE 49th Floor<br>
Atlanta, GA 30303<br>
Phone: <a href="tel:4042220191">404-222-0191</a><br>
<a href="https://www.google.com/maps/place/Commerce+Club+-+Atlanta/@33.759139,-84.387249,17z/data=!3m1!4b1!4m2!3m1!1s0x0000000000000000:0xf24cc3795ebbe668">Directions</a>
