<h2>Ceremony and Reception</h2>
<p>The ceremony, coctail hour, and reception will all be held at the <a href="http://www.clubcorp.com/Clubs/Commerce-Club-Atlanta">Commerce Club</a> in downtown Atlanta, GA.</p>
<h4>Location details</h4>
<strong>Commerce Club</strong><br>
191 Peachtree St. NE 49th Floor<br>
Atlanta, GA 30303<br>
Phone: <a href="tel:4042220191">404-222-0191</a><br>
<a href="https://www.google.com/maps/place/Commerce+Club+-+Atlanta/@33.759139,-84.387249,17z/data=!3m1!4b1!4m2!3m1!1s0x0000000000000000:0xf24cc3795ebbe668" class="btn btn-navy">Directions</a>
