
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-inverse {
  background-color: #26487F !important;
  border-color: #00154C;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* Button color
-------------------------------------------------- */
.btn-navy {
  background-color: #26487F !important;
  border-color: #00154C;
  color: #FFFFFF !important;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #00154C !important;
}
.btn-success {
  color: #FFFFFF !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-control span {
  margin-top: 250px;
  font-size: 40px;
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing .col-lg-4 img.img-circle {
  margin: 0 auto;
}


#header-content {
  margin: 0 auto 20px auto;
  background: asset-url('cheeks-bg.jpg') top left no-repeat #FFFFFF;
  background-size: cover;
  height: 500px;
}
#home #header-content {
  margin: 0 auto 50px auto;
}

#header-text {
  width: 90%;
  margin: 250px auto 0 auto;
  text-align: center;
}
.header-text-inner {
  width: 100%;
}

#header-text h1,
#header-text p {
  background: rgba(38,72,127,.4);
  display: inline-block;
  padding: 5px;
  color: #FFFFFF;
}
.feature-image {
  height: 240px;
  width: 240px;
}

.container.marketing {
  margin-bottom: 20px;
}
#home .container.marketing {
  margin-bottom: 0px;
}

#footer {
  background-color: #26487F !important;
}

.about #header-content {
  background: asset-url('about-bg.jpg') top center no-repeat #FFFFFF;
  background-size: cover;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  #header-text {
    width: 400px;
  }


}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
